.idea/
*.egg-info/
__pycache__/
00_raw/
data/
datapackage.json
001_data_raw/
002_data_preprocessed/
003_results_optimization/
flexmex_config/output_template
005_results_postprocessed/
006_results_comparison/
_archiv/
*.zip